table {
    table-layout: fixed;
    white-space: nowrap;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
}

table td:first-child,
table th:first-child {
    width: 4%;
}

table td:nth-last-child(2),
table th:nth-last-child(2) {
    width: 12%;
}

table td:nth-child(3),
table th:nth-child(3) {
    width: 50%;
}

table td:last-child,
table th:last-child {
    width: 20%;
}